@model IEnumerable<CatalogCategory>

@{
    Layout = "_PanelLayout";
    ViewBag.Title = "Catalog Categories";
}

<div class="container">
    <div class="backButtonContainer">
        <a asp-action="Panel" asp-controller="Admin" class="btnBack">← Panel</a>
    </div>
    <h1 class="pageTitle">Kateqoriyalar</h1>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center">@TempData["Error"]</div>
    }

    <div class="containerbtnCreate">
        <a asp-action="Create" class="btnCreate">Əlavə et</a>
    </div>

    <div class="table-wrapper">
        <table class="customTable">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Qeyd</th>
                    <th>Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Note</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@category.Id" class="btnEdit">Redaktə et</a>
                            <form asp-action="Delete" asp-route-id="@category.Id" method="post" style="display:inline;">
                                <button type="submit" class="btnDelete" onclick="return confirm('Məlumatı silmək istədiyinizə əminsiniz?');">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>