<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NAIS MMC müasir mətbəə xidməti təqdim edir">
    <meta name="keywords" content="nais, nais metbee, naismetbee, metbee, nais mmc,
kesim, beqofka, biqofka, mətbəə, metbe isleri,
metbee ishleri, salfetka sifaris, kəsim, paket sifariş,
paket, broshur, broshurleme, broşürləmə, laminasiya, qatlama,
offset, stiker çapı, xüsusi kəsim, dizayn, design, azerbaijan,
baku, baki, azerbaycan, partnyorlarimiz, haqqimizda, nays, nice metbee">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="cWUdt8xj2DlaePs7J-h9m_ExRHk4uGJBYYSjUV5S-yA" />
    <link rel="icon" href="/files/photos/favicon.ico" type="image/x-icon" sizes="32x32">
    <title>@ViewData["Title"] - NAIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/commonstyle/site.css" />
    <link rel="stylesheet" href="~/css/sitestyle/contact.css" />
    <link rel="stylesheet" href="~/css/sitestyle/partners.css" />
    <link rel="stylesheet" href="~/css/sitestyle/aboutUs.css" />
    <link rel="stylesheet" href="~/css/sitestyle/services.css" />
    <link rel="stylesheet" href="~/css/sitestyle/catalogSite.css" />
    <link rel="stylesheet" href="~/css/sitestyle/swiper-bundle.min.css" />
    <script src="~/js/swiper-bundle.min.js"></script>
</head>
<body>
    <button class="menu-toggle">☰</button>

    <div class="container-fluid">
        <div class="sidebar">

            <a href="@Url.Action("Index", "Home")">
                <div class="logo">
                    <img src="~/files/photos/nais-logo.png" alt="NAIS Logo" />
                </div>
            </a>

            <nav class="menu" aria-label="Main Navigation">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Ana Səhifə</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Əlaqə</a></li>
                    <li><a href="@Url.Action("Services", "Home")">Xidmətlər</a></li>
                    <li><a href="@Url.Action("Calculating", "Home")">Hesablama</a></li>
                    <li><a href="@Url.Action("Partners", "Home")">Partnyorlar</a></li>
                    <li><a href="@Url.Action("AboutUs", "Home")">Haqqımızda</a></li>
                    <li><a href="@Url.Action("Catalog", "Home")">Kataloq</a></li>
                </ul>
            </nav>
            <div class="menu-footer">
                <div class="social-media">
                    <a href="https://www.tiktok.com/&#64;naismetbee?_t=8qB6iQDT4Lv&_r=1" aria-label="TikTok"><img src="~/files/photos/tiktok-logo.png" alt="TikTok" /></a>
                    <a href="https://www.instagram.com/naismetbee/" aria-label="Instagram"><img src="~/files/photos/Instagram_logo.png" alt="Instagram" /></a>
                    <a href="https://wa.me/message/EDW6XJYZACNQG1" aria-label="Whatsapp"><img src="~/files/photos/whatsapp.png" alt="Whatsapp" /></a>
                </div>
@*                <div class="languages">
                    <a href="#">AZ</a>
                    <a href="#">EN</a>
                    <a href="#">RU</a>
                </div>*@
                <div class="footer">
                    <p>Sayt hazırlanması Fafoo © 2024</p>
                </div>
            </div>
        </div>
        <div class="col-md-9 content">
            @RenderBody()
        </div>
    </div>

    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function () {
            document.querySelector('.sidebar').classList.toggle('active');
        });
    </script>

</body>
</html>